.custom-list ol {
    list-style-type: decimal;
    /* Hiển thị số thứ tự */
    margin-left: 20px;
    /* Khoảng cách lề trái */
    color: black;
    /* Màu chữ */
}

.custom-list ul {
    list-style-type: disc;
    /* Hiển thị dấu bullet */
    margin-left: 20px;
    /* Khoảng cách lề trái */
    color: black;
    /* Màu chữ */
}

.custom-list li::marker {
    color: black;
    /* Màu của dấu bullet và số thứ tự */
}

* {
    scroll-behavior: smooth;
}